{% extends "base.html" %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-5 col-md-offset-2 main">
    <h2 class="sub-header">Product Details</h2>

    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="thumbnail">
            <img src="/media/{{ product_details.image }}" alt="{{ p.name }} thumbnail">
            <div class="caption">
            <h3>{{ product_details.name }}</h3>
            <p>{{ product_details.info }}</p>

            </div>
            <p>
            Created: {{ product_details.created }} <br>
            Updated: {{ product_details.updated }}
            </p>
            <p>
                <a href="{% url 'category' product_details.subcategory.category.id %}" class="btn btn-primary" role="button">category</a>
                <a href="{% url 'subcategory' product_details.subcategory.id %}" class="btn btn-default" role="button">Subcategory</a>
                <span class="badge"><span class="glyphicon glyphicon-usd" aria-hidden="true">{{ product_details.price }}</span></span>
            </p>
            </div>
        </div>
    </div>

    </div>

{% endblock %}